h1 {
    font-family: 'Noto Serif JP', serif;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
}

.heldragter h1 {
    font-size: 2.5em;
}

* {
    box-sizing: border-box;
}

.flex-container1 {
    display: flex;
    margin: 50px;
}

.container {
    margin: 20px;
}

.container img {
    width: 600px;
    height: auto;
    margin-top: 50px;
}

.flex-container {
    display: flex;
    margin: 50px;
}

.container1 img {
    width: 600px;
    height: auto;
}

.container2 img {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-bottom: 30px;
}

@media screen and (max-width:1200px) {
    .container img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .flex-container1 {
        display: flex;
        flex-direction: column;
    }
    .container1 img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

@media screen and (max-width:999px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }

    .flex-container1 img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:350px) {
.container2 {
display: flex;
flex-direction: row;
}
}