/*dfaults-- globals-------------------------------*/

.events:hover {
  transform: translate3D(0, -1px, 0) scale(1.1); /* move up slightly and zoom in */
  transition: all 0.4s ease; /* zoom in */
  cursor: pointer;
}

.card_image {
  width: 100%; /* forces image to maintain its aspect ratio; otherwise image stretches vertically */
  max-height: 160px;
  min-width: 40%;
}

.card_text,
.card_text h2,
.instatext {
  width: 100%;
  color: #3c226b;
  font-family: "Noto Serif JP", serif;
}

h2 {
  margin: 8px 0px 12px 0px;
}

.buttonprodukt {
  background: none;
  border: 1px solid #3c226b;
  display: inline-block;
  cursor: pointer;
  color: #3c226b;
  font-family: Arial;
  font-size: 26px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  font-family: "Noto Serif JP", serif;
  transform: translateY(2vh);
  margin-left: 0%;
  position: relative;
  z-index: 3;
}

.textwarpper {
  margin-left: 15%;
  transform: translatey(25vh);
  width: 40%;
  z-index: 3;
  position: relative;
}
.textwarpper > h1,
h2 {
  color: whitesmoke;
  font-family: "Noto Serif JP", serif;
}

/*instagram forside-----------------------------------------------*/
.insta {
  overflow: hidden; /* otherwise header image won't respect rounded corners */
  background: none;
  transition: all 0.5s ease;
  box-sizing: border-box;
  height: 300px;
  width: 300px;
  /* back to normal */
}
.insta:hover {
  transform: translate3D(0, 1px, 0) scale(1.1); /* move up slightly and zoom in */
  transition: all 0.4s ease; /* zoom in */
  cursor: pointer;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

.navigation {
  background-color: pink;
  margin: 0%;
  padding: 0%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 9;
}

.logo {
  width: 70%;
}

.nav-illus {
  width: 30%;
  display: flex;
  flex-direction: column;
}

/*event side css----------------------------------------------------*/

@media only screen and (min-width: 0px) and (max-width: 360px) {
  #video {
    margin-left: -5%;
    height: 160px;
    padding: 5%;
  }

  .card_text,
  .card_text h2,
  .instatext {
    width: 100%;
    margin: 5%;
    color: #3c226b;
    font-family: "Noto Serif JP", serif;
  }
}

@media only screen and (min-width: 360px) and (max-width: 2000px) {
  #video {
    margin-top: 5%;
    margin-left: 2%;
    height: 600px;
  }
  .events {
    width: 18%;
    padding: 1%;
  }

  .card_text {
    padding: 2%;
  }
  .container {
    margin-top: -43%;
    transform: translateY(-200%);
    transform: translateX(80%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    position: relative;
    z-index: 99;
  }

  /*produkter-------------------------------*/
  .produkt {
    width: 100%;

    overflow: hidden;
    background: none;
    transition: all 0.5s ease;
    /* transistion tilbage til alminde størrelse */
    padding: 2%;
  }

  .produktcard_image {
    width: 100%; /* for at være sikker på at billede scaler korrket med boxen*/
    height: auto;
    border: 5px solid #3c226b;
    border-radius: 4px;
  }
  .produkt_text {
    text-align: center;
    padding: 5%;
    width: 100%;
    padding-top: 0%;
  }
  .produkt_text > h2 {
    color: #3c226b;
    font-family: "Noto Serif JP", serif;
  }
  .containerprodukt {
    transform: translateY(0%);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-flow: wrap;
  }
  .buttonprodukt {
    font-size: 26px;
    padding: 6px 24px;
    transform: translateY(2vh);
    margin-left: 0%;
    z-index: 3;
  }
}

/*Forside css  default----------------------------------------------------*/

/*media querys----------------------------------------------------*/
@media only screen and (min-width: 0px) and (max-width: 700px) {
  #leftside {
    margin-top: 0%;
    margin-left: 0;
    width: 100%;
    z-index: 2;
    position: relative;
    background-color: #3e196a;
    height: 50vh;
  }

  #rightside {
    z-index: 2;

    padding: 0%;
    position: relative;
    background-image: url(/images/forsideprøve.jpg);
    background-size: cover;
    height: 100px;
    transform: translateY(-270px);
    margin-left: 48%;
    width: 100%;
  }

  .navigation {
    visibility: hidden;
  }

  .toptext1 {
    transform: translateY(0px);
    margin: 0%;
    font-size: 30px;
    width: 100%;
  }
  .toptext2 {
    transform: translateY(0x);
    margin-top: 0%;
    font-size: 15px;
    width: 100%;
  }

  .instatext {
    transform: translateY(-40px);
    text-align: center;
    margin-left: 0%;
  }

  .containerinsta {
    transform: translateY(-50px);
    opacity: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
  }
  #bodyindeing2 {
    display: inline-block;
  }

  #bodyindeling1 {
    display: inline-block;
    transform: translateY(-200px);
  }

  /*knapper-------------------------------*/
  .buttontop {
    background: none;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 26px;

    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    font-family: "Noto Serif JP", serif;
    transform: translateY(60vh);
    margin-left: 5%;
    position: relative;
    z-index: 3;
  }
  .buttontop:hover {
    border: 1px solid #faf9f9;
  }
  .buttontop:active {
    position: relative;
    top: 1px;
  }

  .produkt {
    overflow: hidden;
    background: none;
    transition: all 0.5s ease;
    /* transistion tilbage til alminde størrelse */
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-flow: wrap;
  }

  .produktcard_image {
    width: 50%; /* for at være sikker på at billede scaler korrket med boxen*/
    height: auto;
    border: 5px solid #3c226b;
    border-radius: 4px;
  }
  .produkt_text {
    text-align: center;
    font-family: "Noto Serif JP", serif;
    padding: 5%;
    width: 50%;
    padding-top: 0%;
  }
  .produkt_text > h2 {
    color: #3c226b;
  }
  .containerprodukt {
    transform: translateY(0%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-flow: wrap;
  }
  .buttonprodukt {
    font-size: 26px;
    padding: 6px 24px;
    transform: translateY(2vh);
    margin-left: 0%;
    z-index: 3;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1650px) {
  #leftside {
    transform: translateY(-45%);
    width: 61.2%;
    margin-top: -5%;
    z-index: 1;
    position: relative;
    background-color: #3e196a;
    height: 100vh;
    margin-left: -1%;
  }

  #rightside {
    height: 500px;
    transform: translateY(-180%);
    margin-left: 40%;
    width: 60%;
    z-index: 2;
    background-color: #5c2f92;
    background-color: rgba(128, 255, 0, 0.226);
    padding: 0%;
    position: relative;
    background-image: url(/images/forsideprøve.jpg);
    background-size: cover;
  }

  .containerinsta {
    transform: translateY(-100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
  }

  .instatext {
    transform: translateY(-400px);
    margin-left: 40%;
  }

  .produkt {
    width: 20%;
  }
  .buttontop {
    background: none;
    border: 1px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 26px;

    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    font-family: "Noto Serif JP", serif;
    transform: translateY(60vh);
    margin-left: 15%;
    position: relative;
    z-index: 3;
  }
  .buttontop:hover {
    border: 1px solid #faf9f9;
  }
  .buttontop:active {
    position: relative;
    top: 1px;
  }
}

@media only screen and (min-width: 1651px) and (max-width: 3000px) {
  .toptext1 {
    transform: translateY(-100px);
    font-size: 40px;
  }
  .toptext2 {
    transform: translateY(-350px);
    font-size: 40px;
  }
  #bodyindeing2 {
    display: inline-block;
  }

  #bodyindeling1 {
    display: inline-block;
  }

  #leftside {
    transform: translateY(-50%);
    width: 115.7%;
    margin-top: -20%;
    z-index: 1;
    position: relative;
    background-color: #3e196a;
    height: 100vh;
    margin-left: -1%;
  }

  #rightside {
    height: 600px;
    transform: translateY(-1200px);
    margin-left: 70%;
    width: 100%;
    z-index: 2;
    background-color: #5c2f92;
    background-color: rgba(128, 255, 0, 0.226);
    padding: 0%;
    position: relative;
    background-image: url(/images/forsideprøve.jpg);
    background-size: cover;
  }
.instatext{
  transform: translateY(-500px);
  margin-left: 80%;
}
  .containerinsta {
    transform: translateY(-500px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row;
    width: 100%;
    margin-left: 50%;
  }
  .buttontop {
    background: none;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 50px;

    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    transform: translateY(35vh);
    margin-left: 15%;
    position: relative;
    z-index: 3;
  }
  .buttontop:hover {
    border: 1px solid #faf9f9;
  }
  .buttontop:active {
    position: relative;
    top: 1px;
  }

  .produkt {
    background: none;
    transition: all 0.5s ease;
    /* transistion tilbage til alminde størrelse */
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    flex-flow: wrap;
  }

  .produktcard_image {
    width: 60%; /* for at være sikker på at billede scaler korrket med boxen*/
    height: auto;
    border: 5px solid #3c226b;
    border-radius: 4px;
  }
  .produkt_text {
    text-align: center;
    font-family: "Noto Serif JP", serif;
    padding: 5%;
    width: 60%;
    padding-top: 0%;
  }
  .produkt_text > h2 {
    color: #3c226b;
  }
  .containerprodukt {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-flow: wrap;
  }
  .buttonprodukt {
    font-size: 26px;
    padding: 6px 24px;
    transform: translateY(2vh);
    margin-left: 0%;
    z-index: 3;
  }
}
/*footer------------------------------------------------------------------*/

@media (max-height: 400px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}
.footer {
  background-color: #3e196a;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: "Noto Serif JP", serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
  position: relative;
  bottom: 0;
  align-content: center;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
  font-family: "Noto Serif JP", serif;
}

/* Footer left */
.footer .footer-left {
  width: 30%;
}
.footer h3 {
  color: #ffffff;
  margin: 0;
}
/* The company logo */
.footer .footer-left img {
  width: 55%;
}

.footer h3 span {
  color: #ffffff;
}
/* Footer links */
.footer.footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}
.footer .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  color: #ffffff;
}

.footer .footer-company-name {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
}

/* Footer Center */
.footer .footer-center {
  width: 35%;
}
.footer .footer-center i {
  background-color: #3c226b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 20px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer .footer-center p span {
  display: block;

  font-size: 18px;
  line-height: 2;
}
.footer .footer-center p a {
  color: #ffffff;
  text-decoration: none;
}
/* Footer Right */
.footer .footer-right {
  width: 30%;
}

.footer .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 18px;
  margin: 0;
}
.footer .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
}

.footer .footer-company-about > a {
  display: block;
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer .footer-icons {
  margin-top: 25px;
}
.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 5px;
}

/* foooticons*/

#fafa-facebook {
  background-image: url(/images/yogga.jpg);
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
@media (max-width: 880px) {
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

.fade {
  opacity: 1;
}
