body{
    width: 100%;
}

.set-content-wrapper{
    width: 80%;
}

.intro-video{
    width: 90%;
    
}
.intro-video video{
    width: 100%;
}

.sets-indhold{
width: 70;
display: flex;
flex-direction: row;
}

.set-1{
    width: 50%;
}
.set-1 img{
    width: 100%;
}

.set-2{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.set-info-tekst{
    width: 50%;
}

.set-info-ikon{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.set-ikon-tekst-1{
    width: 50%;
}
.set-ikon-tekst-1 img{
    width: 100%;
}

.set-ikon-tekst-2{
    width: 50%;
}
.set-ikon-tekst-2 img{
    width: 100%;
}

