h1 #omosoverskrift {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
}

h1 {
    font-family: 'Noto Serif JP', serif; 
}

h3 {
    font-family: 'Noto Serif JP', serif; 
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
}

.tekst {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.billede img {
    max-width: 100%;
    display: block;
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    margin-top: 80px;
}

.container1 img {
    width: 600px;
    height: auto;
    margin-left: 80px;
}

.container2 {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
}

.container2 h1 {
    text-align: center;
}

.icons {
display: flex;
justify-content: space-around;
margin-top: 50px;
align-items: flex-start;
}

.icons > div {
    width: 20%;
}

.icons p {
    text-align: center;
}

.icons h3 {
    text-align: center;
}

.icons img {
    align-self: center;
    margin-left: 20px;
}

.ikoner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

